<div class="backform__wrapper">
    <div class="backform">
        <h2>Обратная связь</h2>
        <form action="#">
            <label for="backform-name">Ваше имя *</label>
            <input class="backform__important" type="text" id="backform-name">
            <label for="backform-phone">Телефон *</label>
            <input class="backform__important" type="text" id="backform-phone">
            <label for="backform-email">Email *</label>
            <input class="backform__important" type="email" id="backform-email">
            <label for="backform-msg">Сообщение</label>
            <textarea name="" id="backform-msg"></textarea>
            <input type="submit" id="backform-send">
        </form>
        <button class="backform__close" method=""></button>
    </div>
</div>
    