<footer class="footer">
    <div class="footer__wrapper">
        <ul class="footer__column1">
            <li>© 2012–2013 ЗАО «Компания»</li>
            <li><a href="mailto:info@name.ru">info@name.ru</a></li>
        </ul>
        <ul class="footer__column2">
            <li><a href="#">Главная</a></li>
            <li><a href="#">Каталог</a></li>
            <li><a href="#">Доставка и оплата</a></li>
            <li><a href="#">Прайс-лист</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
        <ul class="footer__column3">
            <li><span>Разработка сайта</span> — </li>
            <li>компания «Пиксель Плюс»</li>
        </ul>
    </div>
</footer>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="js/libs.js"></script>
<script src="js/main.js"></script>
</body>
</html>